HOMESERVER_URL='http://localhost:8008'
TUWUNEL_SERVER_NAME='my.matrix.host'
REGISTRATION_SHARED_SECRET='look in your tuwunels homeserver.yaml'
AS_TOKEN='look in the app-service.yaml'
EXCLUDED_USERS='rocket.cat' # Comma-separated list of usernames or IDs
ADMIN_USERNAME='admin' # The login name of the Rocket.Chat admin/new Matrix admin
ADMIN_PASSWORD='verySecretPassword' # The password of the Rocket.Chat admin/new Matrix admin
